tools/bin/*.dat
projects/**/*.out
projects/06/**/*.hack
projects/07/**/*.asm
projects/08/**/*.asm
projects/09/**/*.vm
projects/10/**/*2.xml
projects/11/**/*.vm
projects/12/ArrayTest/*.vm
projects/12/ArrayTest/Array.jack
projects/12/KeyboardTest/*.vm
projects/12/KeyboardTest/Keyboard.jack
projects/12/KeyboardTest/Math.jack
projects/12/KeyboardTest/Output.jack
projects/12/MathTest/*.vm
projects/12/MathTest/Math.jack
projects/12/MemoryTest/**/*.vm
projects/12/MemoryTest/Memory.jack
projects/12/MemoryTest/MemoryDiag/Memory.jack
projects/12/OutputTest/*.vm
projects/12/OutputTest/Math.jack
projects/12/OutputTest/Output.jack
projects/12/ScreenTest/*.vm
projects/12/ScreenTest/Screen.jack
projects/12/StringTest/*.vm
projects/12/StringTest/String.jack
projects/12/SysTest/*.vm
projects/12/SysTest/Sys.jack
